{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-8 offset-sm-2">
            <h1 class="text-center mt-3 mb-3">Welcome to the Polls</h1>
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% if user.is_staff %}
        <a class="btn btn-primary mb-3 float-right" href="{% url 'polls:add' %}" role="button">Add <i class="fas fa-plus"></i></a>
        {% endif %}
        <ul class="list-group">
            {% for poll in polls %}
                <li class="list-group-item"><a href="{% url 'polls:detail' poll.pk %}">{{ poll.text|truncatechars:50 }}
                    {% if not poll.active %}
                        <i class="fas fa-check-circle ml-2"></i>
                    {% endif %}
                </a>
                {% if user.is_staff %}
                {% if poll.active %}
                    <a href="{% url 'polls:end' poll.pk %}" data-toggle="tooltip" data-placement="top" title="End Poll"
                        onclick="return confirm('Are you sure ?')"><i class="fas fa-step-forward float-right btn btn-danger btn-sm"></i></a>
                    {% endif %}
                <a href="{% url 'polls:edit' poll.pk %}" class="mr-3" data-toggle="tooltip" data-placement="top"
                        title="Edit Poll"><i class="fas fa-pencil-alt float-right btn btn-primary btn-sm mr-1"></i></a>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
    </div>
{% endblock %}